body {
    background-color:#FFFBF6;
    font-family: Attentica;
}


@font-face {
    font-family: "Attentica";
    src: url('../fonts/Attentica%204F%20UltraLight.ttf');
}

@font-face {
    font-family: "Cenotaph";
    src: url('../fonts/Cenotaph-Titling.otf');
}

@font-face {
    font-family: "Lasco";
    src: url('../fonts/Lasco-Regular.ttf');
}


#wrapper {
    width: 900px;
    margin: 0 auto;
}

#gamewindow {
    background-color:#fff;
    border: 3px solid #b89778;
    border-radius: 10px;
    align-self: flex-end;
    position: relative;
}

#log{
    float:right;
    max-width: 100px;
}

#game {
    align-content: center;
}

nav {
    float: left;
}

nav a {
    text-decoration: none;
}