body {
    background-color:#fff;
    font-family: Attentica;
}


@font-face {
    font-family: "Attentica";
    src: url('../fonts/Attentica%204F%20UltraLight.ttf');
}

@font-face {
    font-family: "Cenotaph";
    src: url('../fonts/Cenotaph-Titling.otf');
}

@font-face {
    font-family: "Lasco";
    src: url('../fonts/Lasco-Regular.ttf');
}


#wrapper {
    width: 900px;
    margin: 0 auto;
}

#gamewindow {
    background-color:#fff;
    border: 5px solid gray;
    border-radius: 10px;
    align-self: flex-end;
    position: relative;
}

#log{
    float:right;
}

#game {
    align-content: center;
    //border: 1px solid black;
}

#tiag {
    text-align: center;
    color: #fff;
}

nav {
    float: left;
}

nav a {
    text-decoration: none;
}